.btn-toggle {
  margin-left: 2px;
  padding: 2px;
}

.container {
  min-height: 100vh;
}

.text-align-center {
  text-align: center;
}

.md-margin-bottom {
  margin-bottom: var(--space-16); 
}

.md-margin-top {
  margin-top: var(--space-16);
}

.sm1-font-size {
  font-size: 1.4rem;
}