@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  color: #333;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 4rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

#main {
  margin: 2rem 0.5rem;
  padding: 1rem;
  background-color: #eee;
}

@media screen and (max-width: 460px) {
  #main {
    margin: 0;
  }
}

figure {
  background-color: #fff;
  padding: 1rem;
  margin: 0;
}

figcaption {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: #222
}

#headline {
  margin: 5rem 0;
}

ul,
blockquote {
  max-width: 578px;
  margin: 0 auto 5rem auto;
  text-align: left;
}

ul {
  line-height: 1.6;
}

li {
  margin: 1.6rem 0;
}

blockquote {
  font-style: italic;
}