body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 80%;
  margin: 0 auto;
}

button {
  padding: 4px 8px;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  background-color: transparent;
}

.btn-toggle {
  margin-left: 2px;
  padding: 2px;
}

h1 {
  margin-top: 0;
  color: green;
}

.note {
  line-height: 1.5;
}

.error {
  font-size: 20px;
  border: 3px solid red;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
