body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 80%;
  margin: 0 auto;
}

.warning {
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

button {
  color: green;
  background-color: transparent;
  padding: 2px 4px;
  border: 1px solid green;
  border-radius: 2px;

}
