body {
  height: 100vh;
}

.pass {
  color: green;
}

.fail {
  color: red;
  text-decoration: line-through;
}

.report {
  color: rgb(0, 26, 255);
}

#outerContainer {
  width: 200px;
  height: 200px;
  background-color: red;
}

#innerContainer {
  width: 100px;
  height: 100px;
  background-color: green;
}

.box {
  width: 400px;
  height: 400px;
}
#box1 {
  position: relative;
}