:root {
	--color-white: #fff;
}

* ,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1em=10px */
}

body {
	margin: 0;
	line-height: 1.4;
	font-size: 1.6rem;
	font-family: helvetica, sans-serif;
	color: var(--color-white);
}

body::before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), 
										url(./survey.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Normal format */

input,
button,
textarea,
select {
	margin: 0;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
}

.input-radio,
.input-checkbox {
	display: inline-block;
	min-width: 1.8rem;
	min-height: 1.8rem;
	margin-right: 1rem;
}

h1,
p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1 {
	line-height: 1.2;
	font-weight: 400;
}

label {
	display: flex;
	align-items: center;
	margin-bottom: 0.625rem;
}

/* Components */
.text-center {
	text-align: center;
}

/* Survey Form Style */
#container {
	margin: 3.215rem auto 0 auto;
}

@media (min-width: 560px) {
	#container {
		max-width: 524px;
	}
}

@media (min-width: 768px) {
	#container {
		max-width: 725px;
	}
}

.header {
	margin-bottom: 3.125rem;
	padding: 0 0.625rem;
}

#title {
	font-size: 2rem;
}

@media (min-width: 505px) {
	#title {
		font-size: 2.5rem;
	}
}

#description {
	font-style: italic;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

#survey-form {
	background-color: rgba(0, 0, 12, .86);
	padding: 3.75rem 3.5rem;
	border-radius: 4px;
}

.form-group {
	padding: 0.25rem;
	margin-bottom: 2.75rem;
}

.form-control {
	display: block;
	width: 100%;	
	height: 3.75rem;
	padding: 0.375rem 0.75rem;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem; 
	transition: border 0.15s ease-in, box-shadow 0.15s ease-in;
}

.form-control:focus {
	outline: 0;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, 0.25);
}

.input-textarea {
	display: block;
	width: 100%;
	min-height: 120px;
	padding: 1.375rem 1.75rem;
	border-radius: 0.25rem;
	resize: vertical;
}

.submit-button {
	display: block;
	width: 100%;
	padding: 1.5rem;
	border-radius: 3px;
	border: 0;
	color: inherit;
	background-color: #37af65;
}