:root {
  --white: #fdfbfb;
  --dark: #000;
  --dark-gray: #424242;
  --light-gray: #f1f1f1;
  --gray: #e0e0e0;
  --pink: #fbc2eb;
  --light-blue: #a6c1ee;
  --red: #FF5252;
  --dark-red: #ee465d;
}

button,
.btn {
  background-color: var(--light-gray);
  border: 1px solid transparent;
  padding: .25rem .75rem;
  border-radius: 2px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: var(--gray);
}

button:focus,
.btn:focus {
  outline: none;
}

.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, lightblue 0, var(--pink) 100%);
} 

.read {
  font-weight: bold;
}

.read:hover {
  color: var(--red);
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 30vh;
}

.case > h3 {
  font-size: 1.5rem;
  font-family: '黑体', Helvetica, sans-serif;
}

.case3 {
  background-color: var(--white);
}

.case1 > h3 {
  color: var(--white);
}

.case1 {
  position: relative;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-position: 50% 50%;
  background-size: cover;
}

.case1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: gray; 
  opacity: .7;
  mix-blend-mode: multiply;
}

.case1 > * {
/* Set stacking context to keep content on top of the background */
  position: relative;
}

/* Add a border */
.heading-border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-border h4 {
  position: relative;
  color: var(--white);
  padding: 1rem;
  font-size: 1.25rem;
}

.heading-border h4::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 2px;

  background-color: var(--dark-gray);
    background-image: linear-gradient(120deg, lightblue 0%, var(--pink) 100%);

  transition: .2s ease;
  transform: translateX(-50%);
}

.heading-border h4:hover::after {
  left: 1rem;
  right: 1rem;
  transform: translateX(0);
}

.container-border {
  position: relative;
  width: 80%;
  margin: 2rem 0;
  padding: 2rem;
  background-image: linear-gradient(120deg, lightblue 0%, var(--pink) 100%);
}

.container-border > * {
/* Set stacking context to keep content on the top of background */
  position: relative;
}

.container-border::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  
  background-color: var(--white);
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

/* Add an icon */
.case2-icon span {
  display: inline-block;
  padding: .25rem .5rem;
  border-radius: 2px;
  font-family: "FontAwesome";
}

.case2-icon span::before {
  content: "\f26e";
}

.case2-icon a[href^="http"]::after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/open-in-new.svg);
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

/* 添加特殊符号或者文字内容 */

a[href$="pdf"]::after {
  content: "(pdf)";
  display: inline-block;
  padding-left: 2px;
  font-size: .5rem;
  color: var(--red);
}

.copyright-item::after {
  content: " | ";
  color: lightblue;
}

.copyright-item:last-of-type::after {
  content: "";
}

.tooltips-container {
  text-align: center;
}

.tooltip {
  position: relative;
  margin-right: 1rem;
  margin-bottom: .75rem;
}

.tooltip:last-of-type {
  margin-right: 0;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;

  width: 100%;
  padding: .25rem;

  background-color: var(--dark-gray);
  color: var(--white);
  box-sizing: content-box;
}

.tooltip:hover::before {
  content: "";
  position: absolute;

  width: 0;
  height: 0;

  border: .25rem solid transparent;
}

/* Tooltip-top */
.tooltip-top:hover::before {
  bottom: calc(100% + .25rem);
  left: 50%;
  transform: translateX(-50%);

  border-top-color: var(--dark-gray);
  border-bottom-width: 0;
}

.tooltip-top:hover::after {
  bottom: calc(100% + .5rem);
  left: 50%;
  transform: translateX(-50%);
}

/* Tooltip-left */
.tooltip-left:hover::before {
  right: calc(100% + .25rem);
  top: 50%;
  transform: translateY(-50%);

  border-left-color: var(--dark-gray);
  border-right-width: 0;
}

.tooltip-left:hover::after {
  top: 0;
  right: calc(100% + .5rem);
}

/* Tooltip-right */
.tooltip-right:hover::before {
  left: calc(100% + .25rem);
  top: 50%;
  transform: translateY(-50%);

  border-right-color: var(--dark-gray);
  border-left-width: 0;
}

.tooltip-right:hover::after {
  top: 0;
  left: calc(100% + .5rem);
} 

/* Tooltip-bottom */
.tooltip-bottom:hover::before {
  top: calc(100% + .25rem);
  left: 50%;

  border-bottom-color: var(--dark-gray);
  border-top-width: 0;
}

.tooltip-bottom:hover::after {
  top: calc(100% + .5rem);
  left: 50%;
  transform: translateX(-50%);
}

/* tooltip-text */

.tooltip-outer {
  position: relative;
  /* 宽度自适应于内容宽度 */
  display: inline-block;
  border-bottom: 1px dashed lightblue;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  left: 50%; 
  transform: translateX(-50%);

  width: 120px;
  padding: .25rem .5rem;
  background-color: var(--dark-gray);
  color: var(--white);
  visibility: hidden;
  opacity: 0;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  border: .25rem solid transparent;
  border-bottom-width: 0;
  border-top-color: var(--dark-gray);
}

.tooltip-outer:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}