body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: var(--color-base-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  color: inherit;  
  border: none;
  outline: none;
}

.btn-toggle {
  margin-left: 2px;
  padding: 2px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

label {
  display: block;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 20px;
  border: 3px solid red;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
